time: 1900

location: SomeBuilding 1337

subject: subject goes here!

presenter: ????

email: ??? @ ??? dot ???

description: |
  put the description of your talk here
  IF YOU CAN READ THIS SOMEONE OR SOMETHING SCREWED UP