time: 19:00

location: McBryde 240

subject: Funding, CS Afilliation, and server room field trip!

presenter: rsk

email: rishik@vt.edu

description: |
  We will briefly meet in MCB 240, before moving to the TOP SECRET seventh floor of Whittemore hall 
  to pay a visit to the VTLUUG/WUVT server rack.
  Items up for general discussion:
  + Funding -- how much we have, and what to spend it on.
  + Colo in WHIT is a pain in a post-jkh world. would CS help?
  + server happy happy playtime