time: 1900

location: McBryde 240

subject: yet to be determined :)

presenter: ????

email: ??? @ ??? dot ???

description: |
  sign up to give a talk on this date! if you're not in the club, ask someone in the chat to make you an event.